:root {
    --gap-1:30px;
}
* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    }
html {
        font-size:62.5%;
        line-height: 1.6rem;
        /* font-family: 'Roboto', sans-serif; */
        box-sizing: border-box;
        font-family: system-ui;
    }


.cc {
    display: none;
}
.ccc {
    display: none;
}
.open {
    display: block;
}
.t {
    background-color: blueviolet;
}
.loading {
   margin: 20px 500px 100px;
    border: 10px solid;
    width: 200px;
    height: 200px;
    border-color: red transparent blue transparent;
    border-radius : 50%;
    animation: load 2s ease infinite;
}
.icon {
    transform: rotate(360deg);
    width: 30px;
    height: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.checked:checked ~ .overlay {
    display: block;
    animation: fadeIn linear 0.2s;
}
.menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background-color: red;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.checked:checked ~ .menu {
    transform: translateX(0);
    opacity: 1;
}
.course-item {
    background-color: orange;
    font-size: 20px;
    height: 200px;
    text-align:center;display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.course-item h1 {
    margin: 0;
    padding: 0;
    color: white;
    line-height: 24px;
}
.tamgiac {
    background-color: blue;
    height: 200px;
    width: 200px;
    position: relative;
    border: 1px solid black;
}
.tamgiac::after {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: white transparent white transparent;
    animation: load ease 1s infinite;
    border-radius: 8px;
}
.tamgiac::before {
    content: "";
    right: 0;
    top: 0;
    position: absolute;
    border: 20px solid;
    border-color: white transparent white transparent;
    animation: load ease 1s infinite;
    border-radius: 8px;
}
.bg-img {
    margin: 50px auto 50px;
    width: 400px;
    height: 200px;
    background-color: #f5f2f2;
    border: 2px solid black;
    overflow-y: scroll;
    overscroll-behavior:contain;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.table {
    margin: 20px auto;
    border: 1px solid black;
    border-collapse: collapse;
    
}
.table tr:nth-child(2n) {
background-color: #ccc;
}
.table-item {
    border-top:1px solid black;
}
.table-item {
    padding: 4px 8px;
    font-size: 16px;
}
.container {
    gap: 2px var(--gap-1);
    flex-wrap: wrap;
}
.item {
    flex: 0 0 calc(25% - (var(--gap-1) * 3 / 4));
    background-color: orange;
}
.link {
position: relative;
} 
.desc-test {
    position: absolute;
    bottom: 0;
    display: none;
    
}
.link:hover .desc-test{
    display: block;
}






@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes load {
    to  {
     transform:rotate(180deg);
    }
}