* {
    box-sizing: inherit;
    }
html {
        font-size:62.5%;
        line-height: 1.6rem;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
       
    }


.cc {
    display: none;
}
.ccc {
    display: none;
}
.open {
    display: block;
}
.t {
    background-color: blueviolet;
}
.loading {
   margin: 20px 500px 100px;
    border: 10px solid;
    width: 200px;
    height: 200px;
    border-color: red transparent blue transparent;
    border-radius : 50%;
    animation: load 2s ease infinite ;

}
.icon {
    transform: rotate(360deg);
    width: 30px;
    height: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.checked:checked ~ .overlay {
    display: block;
    animation: fadeIn linear 0.2s;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background-color: red;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.checked:checked ~ .menu {
    transform: translateX(0);
    opacity: 1;
}
.course-item {
    background-color: orange;
    font-size: 20px;
    height: 200px;
    text-align:center;display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.course-item h1 {
    margin: 0;
    padding: 0;
    color: white;
    line-height: 24px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes load {
    to  {
     transform:rotate(360deg);
    }
}